BeautifulSoup==3.2.1
Flask==0.90
Flask-BrowserID==0.0.4
Flask-GeoIP==0.1.1
Flask-Gravatar==0.4.1
Flask-Login==0.2.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.2
FormEncode==1.2.6
Jinja2==2.6
PyRSS2Gen==1.0.0
Python-tweetsay==1.0
SQLAlchemy==0.8.0b2
Twisted==12.0.0
WTForms==1.0.3
Werkzeug==0.8.3
altgraph==0.9
argparse==1.2.1
bdist-mpkg==0.4.4
beautifulsoup4==4.3.2
bonjour-py==0.3
boto==2.28.0
distribute==0.6.49
feedparser==5.1.3
go==1.2.1
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
macholib==1.4.2
## FIXME: could not find svn URL in dependency_links for this package:
mercurial==2.7.1-20130905
mock==1.0.1
modulegraph==0.9.1
nose==1.3.0
numpy==1.6.1
oauth2==1.0.2
oauthlib==0.6.1
paypalrestsdk==0.6.3
py2app==0.6.3
pyOpenSSL==0.13
pygeoip==0.3.0
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-CalendarStore==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServerNotification==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
python-dateutil==1.5
python-twitter==1.0
pytz==2013b
requests==2.2.1
requests-oauthlib==0.4.0
simple-date==0.4.7
simplejson==3.3.0
task==0.1
twitter-oauth==0.1.0
tzlocal==1.0
vboxapi==1.0
virtualenv==1.9.1
wget==2.0
wkhtmltopdf==0.2
wsgiref==0.1.2
xattr==0.6.2
xml2json==0.1
xmltodict==0.9.0
zope.interface==3.5.1
