/* ===============================================================
 * Filename: style.css
 * Author: John Zeller
 * Date Created: November 21, 2012
 * Recently Updated: November 27, 2012
 * ------
 * Notes:
 * =============================================================*/
@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ==================== TYPOGRAPHY ==================== */
html, body {
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
	width: auto;
	background: #e3dbdb;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: left;
}

table {
	width: 300px;
	padding: 0;
	margin: 0;
}

tr {
	margin: 0;
	padding: 0;
}

td {
	padding: 5px;
	clear: left;
	margin: 0;
}

form {
	width: 100%;
	margin: 0;
	padding: 0;
}

input {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	border: 1px solid #000000;
	padding: 2px;
}

input.button {
	font-family: ;
	font-size: ;
	color: ;
	background-color: ;
	border:  solid ;
	padding: 2px;
}

label {
	float: left;
	width: 30%;
	padding-top: 4px;
	font-family: Arial;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

img {
	max-width: 250px;
}

h2 {
	text-align: center;
}

a:link, a:visited, a:hover, a:active {	/* unvisited, visited, mouse over and selected links */
	color: #000000;
	text-decoration: none;
}

/* ==================== DECORATION ==================== */
.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#content-wrapper #badge .typingone {
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 1s steps(29, end), step-end 1s;
    -moz-animation: typing 1s steps(29, end), step-end 1s;
}

#content-wrapper #badge .typingtwo {
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 1s steps(29, end), step-end infinite;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 1s steps(29, end), step-end infinite;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode:both;
}

#content-wrapper #badge .typingthree {
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 1s steps(29, end), step-end infinite;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 1s steps(29, end), step-end infinite;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode:both;
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width: 570px; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width: 570px; }
}

/* ====================== LAYOUT ====================== */
#main-nav {
	background:  #e3dbdb;
	position: fixed;
	height: auto;
	width: 81%;
	font-size: 20px;
	font-weight: bold;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}

	#main-nav #nav {
		float: right;
		text-align: right;
		padding:15px 30px;
		width: 250px;
		margin: 0 auto;
		font-size: 30px;
	}

		#main-nav #nav a.about{
			display: block;
			margin-right: 150px;
			margin-top: 20px;
		}

		#main-nav #nav a.contact{
			display: block;
			margin-top: -30px;
		}

		#main-nav #nav a.about:hover{
			color: red;
		}

		#main-nav #nav a.contact:hover{
			color: blue;
		}
	
	#main-nav #title {
		padding-top: 40px;
		font-weight: bold;
		float: left;
		text-align: left;
	}

#sidebar {
	background:  #e3dbdb;
	clear: both;
	position: fixed;
	height: 90%;
	width: 150px;
	padding: 20px;
	left: 0px;
	top: 20%;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}

	#sidebar a.education:hover{
		color: red;
	}

	#sidebar a.experience:hover{
		color: blue;
	}

	#sidebar a.projects:hover{
		color: orange;
	}

	#sidebar a.skills:hover{
		color: purple;
	}

	#sidebar a.community:hover{
		color: green;
	}

#content-wrapper {
	width: 80%;
	padding: 10%;
	height: auto;
	text-align: center;
}

	#content-wrapper #badge{
		padding: 15px 30px;
		padding-top: 77px;
		width: 570px;
		margin: 0 auto;
		font-size: 45px;
		font-weight: bold;
		text-align: left;
		color: black;
		font-family: 'VT323', cursive;
	}

	#content-wrapper #content{
		clear: both;
		float: left;
		width: 90%;
		padding: 20px;
		height: auto;
		padding-bottom: 10%; /* So footer never blocks bottom of content */
	}

		#content-wrapper #content #contact{
			padding-left: 30%;
			font-weight: bold;
			text-align: left;
		}

	#content-wrapper #title{
		clear: both;
		float: left;
		width: 100%;
		height: auto;
	}
	
	#content-wrapper #pic{
		clear: both;
		float: left;
		width: auto;
		padding: 20px;
		height: auto;
		padding-bottom: 20%; /* So footer never blocks bottom of content */
	}
	
	#content-wrapper #choose{
		clear: both;
		float: left;
		width: auto;
		padding: 20px;
		height: auto;
		padding-bottom: 10%; /* So footer never blocks bottom of content */
	}
	
	#content-wrapper #info{	
		float: right;
		width: 40%;
		padding: 20px;
		height: auto;
		text-align: left;
		padding-bottom: 20%; /* So footer never blocks bottom of content */
	}

#footer {
	background:  #e3dbdb;
	clear: both;
	position: fixed;
	bottom: 0px;
	padding: 20px;
	height: auto;
	width: 100%;
}