/* ===============================================================
 * Filename: style.css
 * Author: John Zeller
 * Date Created: November 21, 2012
 * Recently Updated: November 27, 2012
 * ------
 * Notes:
 * =============================================================*/
@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ==================== TYPOGRAPHY ==================== */
html, body {
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
	width: auto;
	background: #e3dbdb;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000000;
}

h2 {
	text-align: left;
}

a:link, a:visited, a:hover, a:active {	/* unvisited, visited, mouse over and selected links */
	color: #000000;
	text-decoration: none;
}

/* ==================== DECORATION ==================== */
.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* ====================== LAYOUT ====================== */
#main-nav {
	position: fixed;
	height: auto;
	width: 81%;
	font-size: 20px;
	font-weight: bold;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}

	#main-nav #nav {
		float: right;
		text-align: right;
		padding:15px 30px;
		width: 250px;
		margin: 0 auto;
		font-size: 30px;
	}

		#main-nav #nav #about{
			margin-right: 150px;
			margin-top: 20px;
			clear: both;
		}

		#main-nav #nav #contact{
			margin-top: -30px;
			clear: both;
		}

		#main-nav #nav #about a:hover{
			color: red;
		}

		#main-nav #nav #contact a:hover{
			color: blue;
		}
	
	#main-nav #title {
		padding-top: 40px;
		font-weight: bold;
		float: left;
		text-align: left;
	}

#content {
	width: 80%;
	padding: 10%;
	height: auto;
	text-align: center;
}

	#content #badge{
		padding: 15px 30px;
		padding-top: 77px;
		width: 500px;
		margin: 0 auto;
		font-size: 35px;
		font-weight: bold;
		text-align: left;
		color: black;
		font-family: 'VT323', cursive;
	}

	#content #title{
		clear: both;
		float: left;
		width: 100%;
		height: auto;
	}
	
	#content #pic{
		clear: both;
		float: left;
		width: auto;
		padding: 20px;
		height: auto;
		padding-bottom: 20%; /* So footer never blocks bottom of content */
	}
	
	#content #choose{
		clear: both;
		float: left;
		width: auto;
		padding: 20px;
		height: auto;
		padding-bottom: 10%; /* So footer never blocks bottom of content */
	}
	
	#content #info{	
		float: right;
		width: 40%;
		padding: 20px;
		height: auto;
		text-align: left;
		padding-bottom: 20%; /* So footer never blocks bottom of content */
	}
	

	#badgeone {
		visibility: visible;
		display: block;
		/*set the div in the center of the screen*/
		position: absolute;
		top: 20%;
		left: 20%;
		height: 244px;
		width: auto;
	}
	
	#badgetwo {
		visibility: hidden;
		display: block;
		/*set the div in the center of the screen*/
		position: absolute;
		top: 20%;
		left: 20%;
		width: auto;
	}
	

#footer {
	background:  #e3dbdb;
	display: block;
	clear: both;
	position: fixed;
	bottom: 0px;
	padding: 20px;
	height: auto;
	width: 100%;
}