</div>
<div class="visible-lg row">
	<img style="max-width: 150px;" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-127313368871/images/JohnZeller2.jpg" alt="John Zeller" class="col-sm-push-1 col-sm-2">
	<p class="col-sm-push-1 col-sm-9 lead">You know, the more I write software, the more I realize what drives me and sustains my interest in this profession; and it's the people. Writing software someone is going to directly benefit from is as exciting as any job that I can think of. My goals are to work with a company that isn't just holding the line, but is pushing the edge of what is out there. I seek to make an impact on my community and my planet, in a positive and uplifting way through the power of software.</p>
	<div class="col-sm-push-1 col-sm-10">
		<hr style="margin-top: 30px;" class="col-sm-push-1 col-sm-2">
		<h4 style="margin-top: 20px;" class="col-sm-push-1 col-sm-6">I do more than <i>only</i> write software, of course</h4>
		<hr style="margin-top: 30px;" class="col-sm-push-1 col-sm-2">
	</div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li class="" data-target="#myCarousel" data-slide-to="1"></li>
        <li class="" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div style="height: 400px;" class="container">
            <div style="height: 400px;" class="carousel-caption">
              <h1>Fitness</h1>
              <iframe class="center" src="https://github.com/JohnLZeller"></iframe>
            </div>
          </div>
        </div>
        <div class="item">
          <div style="height: 400px;" class="container">
            <div style="height: 400px;" class="carousel-caption">
              <h1>Volunteering</h1>
              <iframe src="https://github.com/JohnLZeller"></iframe>
            </div>
          </div>
        </div>
        <div class="item">
          <div style="height: 400px;" class="container">
            <div style="height: 400px;" class="carousel-caption">
              <h1>Brewing</h1>
              <iframe src="https://github.com/JohnLZeller"></iframe>
            </div>
          </div>
        </div>
      </div>
      <a style="background-image: none;" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a style="background-image: none;" class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
<div class="visible-md visible-sm row">
	<img style="max-width: 150px;" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-127313368871/images/JohnZeller2.jpg" alt="John Zeller" class="col-sm-push-1 col-sm-3">
	<p class="col-sm-push-1 col-sm-8 lead">You know, the more I write software, the more I realize what drives me and sustains my interest in this profession; and it's the people. Writing software someone is going to directly benefit from is as exciting as any job that I can think of. My goals are to work with a company that isn't just holding the line, but is pushing the edge of what is out there. I seek to make an impact on my community and my planet, in a positive and uplifting way through the power of software.</p>
</div>
<div class="visible-xs">
	<div style="padding-top: 150px;" class="row">
		<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-127313368871/images/JohnZeller2.jpg" alt="John Zeller" class="col-xs-push-4 col-xs-4">
	</div>
	<div style="padding-top: 20px;" class="row">
		<p class="col-xs-push-1 col-xs-10 lead">You know, the more I write software, the more I realize what drives me and sustains my interest in this profession; and it's the people. Writing software someone is going to directly benefit from is as exciting as any job that I can think of. My goals are to work with a company that isn't just holding the line, but is pushing the edge of what is out there. I seek to make an impact on my community and my planet, in a positive and uplifting way through the power of software.</p>
	</div>
</div>