<div style="margin-top: -50px;" class="visible-sm"></div>
<div style="margin-top: 115px;" class="visible-xs"></div>
<div style="padding: 0px 40px;" class="row">
  <div class="row">
    <div class="col-xs-12">
      <a href="http://www.facebook.com/JohnLukeZeller" target="_blank"><i style="padding: 5px;" class="fa fa-facebook fa-3x"></i></a>
      <a href="http://www.twitter.com/JohnLukeZeller" target="_blank"><i style="padding: 5px;" class="fa fa-twitter fa-3x"></i></a>
      <a href="https://plus.google.com/109697196852908178819/posts" target="_blank"><i style="padding: 5px;" class="fa fa-google-plus fa-3x"></i></a>
      <a href="http://www.linkedin.com/in/JohnLZeller" target="_blank"><i style="padding: 5px;" class="fa fa-linkedin fa-3x"></i></a>
      <a href="https://www.github.com/JohnLZeller" target="_blank"><i style="padding: 5px;" class="fa fa-github fa-3x"></i></a>
      <a href="mailto:johnlzeller@gmail.com" target="_blank"><i style="padding: 5px;" class="fa fa-envelope fa-3x"></i></a>
    </div>
    <div class="col-sm-12">
      <a href="https://s3-us-west-2.amazonaws.com/johnzeller-docs/JohnZellerResume.pdf" target="_blank"><button style="color: #ffffff; background: transparent; border: 0px;" class="btn btn-default"><h3><i style="padding: 5px;" class="fa fa-file-o fa-2x"></i> Resume</h3></button></a>
    </div>
  </div>
  {% if form.success %}<span style="color: green;">Email sent!</span>{% endif %}
  <form role="form" action="" method="post" name="contact">
    {{ form.csrf_token }}
    <div class="form-group">
      {% for error in form.errors.name %}<span style="color: red;">[{{error}}]</span>{% endfor %}<br>
      {{ form.name(placeholder="Full Name", class="form-control") }}
    </div>
    <div class="form-group">
      {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.email(placeholder="Email", class="form-control") }}
    </div>
    <div class="form-group">
      {% for error in form.errors.message %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.message(placeholder="Message", class="form-control") }}
    </div>
    
    <button type="submit" class="btn btn-default">Send</button>
  </form>
</div>