<div class="container">
	<div style="position: relative; right: 20%; bottom: 200px;" class="row">
		<h2>Work History</h2>
		<div class="col-sm-3 col-md-3 user-details" id="accordian">
            <div class="user-info-block">
                <div style="margin-top: -20px;" class="user-heading">
                    <img class="clearfix" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Mozilla-corporation-logo-color.svg/445px-Mozilla-corporation-logo-color.svg.png" style="padding-bottom: 10px; max-height: 100px; max-width: 300px;" alt="Mozilla Logo" title="Mozilla">
                    <span class="help-block">Release Engineering Intern</span>
                    <small><span style="position: relative; top: -5px;" class="help-block"><span class="glyphicon glyphicon-time"></span> | 11+ Months - 6/13 to Present</span></small>
                </div>
		    	<div id="collapseOne" class="panel-collapse collapse out">
	                <ul class="navigation center-block">
	                    <li class="active">
	                        <a style="color: #333;" data-toggle="tab" href="#1-summary">Summary</a>
	                    </li>
	                    <li>
	                        <a style="color: #333;" data-toggle="tab" href="#1-skills">Skills Used</a>
	                    </li>
	                </ul>
	                <div style="position: relative; left: 5%;" class="user-body">
	                    <div class="tab-content">
	                        <div id="1-summary" class="tab-pane active">
	                            <span class="help-block">Primarily developed and maintained a REST API built on Pylons using Python, Mako, HTML, JavaScript and CSS. Designed and implemented various extensions such as returning a JSON response detailing build/test progress status, as well as displaying and report ing progress status. Contributed to several other areas, including design and implementation of Nagios scripts and Flot data visualizations , and diagnosing/finding solutions to various bugs.</span>
	                        </div>
	                        <div id="1-skills" class="tab-pane">
	                            <h4>Skills Used</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
		<div style="width: 350px;" class="col-sm-push-1 col-sm-3 col-md-3 user-details" id="accordian">
            <div class="user-info-block">
                <div style="margin-top: -20px;" class="user-heading">
                    <img class="clearfix" src="../static/images/SpaceXlogo.png" style="padding-bottom: 10px; position: relative; left: 17px; max-height: 100px; max-width: 300px;" alt="SpaceX Logo" title="SpaceX">
                    <span class="help-block">Avionics Intern</span>
                    <span style="position: relative; top: -5px;" class="help-block">Hardware Development Test Group</span>
                    <small><span style="position: relative; top: -5px;" class="help-block"><span class="glyphicon glyphicon-time"></span> | 3 Months - 6/12 to 9/12</span></small>
                </div>
		    	<div id="collapseOne" class="panel-collapse collapse out">
	                <ul class="navigation center-block">
	                    <li class="active">
	                        <a style="color: #333;" data-toggle="tab" href="#2-summary">Summary</a>
	                    </li>
	                    <li>
	                        <a style="color: #333;" data-toggle="tab" href="#2-skills">Skills Used</a>
	                    </li>
	                </ul>
	                <div style="position: relative; left: 5%;" class="user-body">
	                    <div class="tab-content">
	                        <div id="2-summary" class="tab-pane active">
	                            <span class="help-block">Developed on an off-the-shelf embedded development platform to create a platform framework that integrated in-house boards and allowed for interfacing with existing hardware to accomplish custom testing procedures. Designed and implemented an onboard Django-based server for controlling and reviewing tests in real-time. The majority of this work was done in Python, with smaller portions being completed in HTML and JavaScript.</span>
	                        </div>
	                        <div id="2-skills" class="tab-pane">
	                            <h4>Skills Used</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
		<div style="width: 350px;" class="col-sm-push-2 col-sm-3 col-md-3 user-details" id="accordian">
            <div class="user-info-block">
                <div style="margin-top: -20px;" class="user-heading">
                    <img class="clearfix" src="../static/images/OSURClogo.jpg" style="padding-bottom: 10px; max-height: 100px; max-width: 300px;" alt="SpaceX Logo" title="SpaceX">
                    <span class="help-block">Team/Software Lead</span>
                    <span style="position: relative; top: -5px;" class="help-block">OSU Mars Rover Team</span>
                    <small><span style="position: relative; top: -5px;" class="help-block"><span class="glyphicon glyphicon-time"></span> | 2 Years - 6/11 to 6/13</span></small>
                </div>
		    	<div id="collapseOne" class="panel-collapse collapse out">
	                <ul class="navigation center-block">
	                    <li class="active">
	                        <a style="color: #333;" data-toggle="tab" href="#3-summary">Summary</a>
	                    </li>
	                    <li>
	                        <a style="color: #333;" data-toggle="tab" href="#3-skills">Skills Used</a>
	                    </li>
	                </ul>
	                <div style="position: relative; left: 5%;" class="user-body">
	                    <div class="tab-content">
	                        <div id="3-summary" class="tab-pane active">
	                            <span class="help-block">Built a 6-wheeled mobile robotic platform with robotic arm for competing in the University Rover Challenge (URC). As Team Lead, managed weekly meetings, coordinated project leads (i.e. Mechanical, Electrical, Software, Science), organized tasks, deadlines and goals, mailing lists, secure sponsorship, coordinated public events and recruitment activities. Channel between Rover Team members, OSU, the Mars Society and OSU Robotics Club Executives. As Software Lead, managed software design process, deadlines, goals, and delegated tasks. Oversaw the proper implementation and maintenance of software and repositories. Established/used design review process for all projects.vaScript.</span>
	                        </div>
	                        <div id="3-skills" class="tab-pane">
	                            <h4>Skills Used</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
	</div>
</div>