</div>
<div class="container">
	<div style="margin-top: -300px;" class="row">
		<h2>Work History</h2>
		<div class="col-sm-4 col-xs-12 user-details" id="accordian">
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="../static/images/MozillaLogo.png" class="work-badge" alt="Mozilla Logo" title="Mozilla">
                    <span class="help-block">Release Engineering Intern</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 11+ Months - 6/13 to Present</span></small>
                </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span></a>
		    	<div id="collapseOne" class="panel-collapse collapse out">
	                <span class="help-block"><p class="work-text">Primarily developed and maintained a REST API built on Pylons using Python, Mako, HTML, JavaScript and CSS. Designed and implemented various extensions such as returning a JSON response detailing build/test progress status, as well as displaying and report ing progress status. Contributed to several other areas, including design and implementation of Nagios scripts and Flot data visualizations, and diagnosing/finding solutions to various bugs.</p></span>
	            </div>
            </div>
        </div>
		<div class="col-sm-4 col-xs-12 user-details" id="accordian">
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="../static/images/SpaceXlogoadjusted.png" class="work-badge" alt="SpaceX Logo" title="SpaceX">
                    <span class="help-block">Avionics Intern</span>
                    <span class="help-block help-block-adjust">Hardware Development Test Group</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 3 Months - 6/12 to 9/12</span></small>
                </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-chevron-down"></span></a>
		    	<div id="collapseTwo" class="panel-collapse collapse out">
	                <span class="help-block"><p class="work-text">Developed on an off-the-shelf embedded development platform to create a platform framework that integrated in-house boards and allowed for interfacing with existing hardware to accomplish custom testing procedures. Designed and implemented an onboard Django-based server for controlling and reviewing tests in real-time. The majority of this work was done in Python, with smaller portions being completed in HTML and JavaScript.</p></span>
	            </div>
            </div>
        </div>
		<div class="col-sm-4 col-xs-12 user-details" id="accordian">
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="../static/images/OSURClogo.jpg" class="work-badge" alt="OSURC Logo" title="OSU Robotics Club">
                    <span class="help-block">Team/Software Lead</span>
                    <span class="help-block help-block-adjust">OSU Mars Rover Team</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 2 Years - 6/11 to 6/13</span></small>
                </div>
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-chevron-down"></span></a>
		    	<div id="collapseThree" class="panel-collapse collapse out">
	                <span class="help-block"><p class="work-text">Built a 6-wheeled mobile robotic platform with robotic arm for competing in the University Rover Challenge (URC). As Team Lead, managed weekly meetings, coordinated project leads (i.e. Mechanical, Electrical, Software, Science), organized tasks, deadlines and goals, mailing lists, secure sponsorship, coordinated public events and recruitment activities. Channel between Rover Team members, OSU, the Mars Society and OSU Robotics Club Executives. As Software Lead, managed software design process, deadlines, goals, and delegated tasks. Oversaw the proper implementation and maintenance of software and repositories. Established/used design review process for all projects.vaScript.</p></span>
	            </div>
            </div>
        </div>
	</div>
</div>