</div>
<div style="margin-top: 28px;" class="visible-xs"></div>
<div class="container" style="padding: 65px 20px 180px 20px; text-shadow: none !important;">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Work History</h2>
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="https://s3-us-west-2.amazonaws.com/johnzeller-com-images/Datadoglogo.png" class="work-badge" alt="Datadog Logo" title="Datadog">
                    <span class="help-block">Software Engineer</span>
                    <span class="help-block help-block-adjust">Integrations Team</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 1 Year 8 Months - 7/15 to 2/17</span></small>
                </div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="help-block glyphicon glyphicon-chevron-down"></span></a>
                <div id="collapseOne" class="panel-collapse collapse out">
                    <span class="help-block"><p class="work-text">Worked on the integrations team at Datadog, maintaining existing integrations, and building new ones, using mostly Python, with the occasional work in JavaScript. This included work on the Datadog Agent, as well as crawler and push based integrations. While on our cloud-based integrations team, I owned and built out our support for Google Cloud Platform, expanding our integrations of Google products from 2 to 15+. Throughout my time at Datadog, there was also various library work needed, including the building of our Jenkins plugin, written in Java.</p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="https://s3-us-west-2.amazonaws.com/johnzeller-com-images/Mozillalogo.png" class="work-badge" alt="Mozilla Logo" title="Mozilla">
                    <span class="help-block">Release Engineering Intern</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 1 Year 2 Months - 6/13 to 9/13 and 11/13 to 9/14</span></small>
                </div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="help-block glyphicon glyphicon-chevron-down"></span></a>
                <div id="collapseTwo" class="panel-collapse collapse out">
                    <span class="help-block">
                        <h3>Internship #1</h3>
                        <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 3 Months - 6/13 to 9/13</span></small>
                        <p class="work-text">Primarily developed and maintained a REST API built on Pylons using Python, Mako, HTML, JavaScript and CSS. Designed and implemented various extensions such as returning a JSON response detailing build/test progress status, as well as displaying and report ing progress status. Contributed to several other areas, including design and implementation of Nagios scripts and Flot data visualizations, and diagnosing/finding solutions to various bugs.</p>
                        <h3>Remote Contractor</h3>
                        <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 8 Months - 11/13 to 6/14</span></small>
                        <p class="work-text">Further developed existing "self serve" applications by adding functionality accessible by REST API. Added the ability to trigger arbitrary build sets for Mozilla product, which previously had to be triggered as a broader set of jobs; this enhancement allows for greatly improved agility when handling problems that crop up during a build.</p>
                        <p>Also, introduced a new application called Tupperware which houses Release Engineering apps using Docker and Vagrant to make setup and development as easy as a few commands. This work greatly simplifies the task of development, especially for new contributors, who may have little to no knowledge of existing Release Engineering infrastructure.</p>
                        <h3>Internship #2</h3>
                        <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 3 Months - 6/14 to 9/14</span></small>
                        <p class="work-text">Built enhancements to an existing Flask application used to start the build process for Mozilla product releases ("Ship It"). These enhancements include providing realtime status updates available via REST API and human readable views, as well as steps to providing added post release triggering functionality to allow greater autonomy for release management.</p>
                    </span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="https://s3-us-west-2.amazonaws.com/johnzeller-com-images/SpaceXlogoadjusted.png" class="work-badge" alt="SpaceX Logo" title="SpaceX">
                    <span class="help-block">Avionics Intern</span>
                    <span class="help-block help-block-adjust">Hardware Development Test Group</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 3 Months - 6/12 to 9/12</span></small>
                </div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="help-block glyphicon glyphicon-chevron-down"></span></a>
                <div id="collapseThree" class="panel-collapse collapse out">
                    <span class="help-block"><p class="work-text">Developed on an off-the-shelf embedded development platform to create a platform framework that integrated in-house boards and allowed for interfacing with existing hardware to accomplish custom testing procedures. Designed and implemented an onboard Django-based server for controlling and reviewing tests in real-time. The majority of this work was done in Python, with smaller portions being completed in HTML and JavaScript.</p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <img src="https://s3-us-west-2.amazonaws.com/johnzeller-com-images/OSURClogo.jpg" class="work-badge" alt="OSURC Logo" title="OSU Robotics Club">
                    <span class="help-block">Team/Software Lead</span>
                    <span class="help-block help-block-adjust">OSU Mars Rover Team</span>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> | 2 Years - 6/11 to 6/13</span></small>
                </div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="help-block glyphicon glyphicon-chevron-down"></span></a>
                <div id="collapseFour" class="panel-collapse collapse out">
                    <span class="help-block"><p class="work-text">Built a 6-wheeled mobile robotic platform with robotic arm for competing in the University Rover Challenge (URC). As Team Lead, managed weekly meetings, coordinated project leads (i.e. Mechanical, Electrical, Software, Science), organized tasks, deadlines and goals, mailing lists, secure sponsorship, coordinated public events and recruitment activities. Channel between Rover Team members, OSU, the Mars Society and OSU Robotics Club Executives. As Software Lead, managed software design process, deadlines, goals, and delegated tasks. Oversaw the proper implementation and maintenance of software and repositories. Established/used design review process for all projects.</p></span>
                </div>
            </div>
        </div>
        <div style="margin-top: 750px;" class="visible-sm visible-xs"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Proficiency</h2>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3 class="skill-heading">Languages</h3>
                </div>
                <span class="help-block" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Most</h3></div>
                            <div class="col-md-6"><p>Python</p></div>
                            <div class="col-md-6"><p>JavaScript</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Moderate</h3></div>
                            <div class="col-md-6"><p>Java</p></div>
                            <div class="col-md-6"><p>Bash</p></div>
                            <div class="col-md-6"><p>SQL</p></div>
                            <div class="col-md-6"><p>HTML</p></div>
                            <div class="col-md-6"><p>CSS</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Acquainted</h3></div>
                            <div class="col-md-6"><p>Go</p></div>
                            <div class="col-md-6"><p>C++</p></div>
                            <div class="col-md-6"><p>PHP</p></div>
                            <div class="col-md-6"><p>MASM</p></div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3 class="skill-heading">Technologies</h3>
                </div>
                <span class="help-block" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Most</h3></div>
                            <div class="col-md-6"><p>Git</p></div>
                            <div class="col-md-6"><p>Mercurial</p></div>
                            <div class="col-md-6"><p>Pylons</p></div>
                            <div class="col-md-6"><p>Flask</p></div>
                            <div class="col-md-6"><p>Linux</p></div>
                            <div class="col-md-6"><p>Jenkins</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Moderate</h3></div>
                            <div class="col-md-6"><p>AWS</p></div>
                            <div class="col-md-6"><p>Lambda</p></div>
                            <div class="col-md-6"><p>GCP</p></div>
                            <div class="col-md-6"><p>Docker</p></div>
                            <div class="col-md-6"><p>GitLab</p></div>
                            <div class="col-md-6"><p>Ansible</p></div>
                            <div class="col-md-6"><p>Redis</p></div>
                            <div class="col-md-6"><p>Vagrant</p></div>
                            <div class="col-md-6"><p>Django</p></div>
                            <div class="col-md-6"><p>PostgreSQL</p></div>
                            <div class="col-md-6"><p>MySQL</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12"><h3>Acquainted</h3></div>
                            <div class="col-md-6"><p>DynamoDB</p></div>
                            <div class="col-md-6"><p>Chef</p></div>
                            <div class="col-md-6"><p>Puppet</p></div>
                            <div class="col-md-6"><p>RabbitMQ</p></div>
                            <div class="col-md-6"><p>JQuery</p></div>
                            <div class="col-md-6"><p>Kubernetes</p></div>
                            <div class="col-md-6"><p>Buildbot</p></div>
                            <div class="col-md-6"><p>Nagios</p></div>
                            <div class="col-md-6"><p>Node.js</p></div>
                            <div class="col-md-6"><p>Grunt</p></div>
                            <div class="col-md-6"><p>Travis</p></div>
                            <div class="col-md-6"><p>Memcached</p></div>
                            <div class="col-md-6"><p>Apache</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>