{% extends "layout.html" %}
{% block index %}
    <div class="hidden-xs" id="badge">
      <h1 class="cover-heading typingone">>> Hi, my name is John Zeller</h1>
      <h1 class="cover-heading typingtwo">>> I am a Software Developer <span class="blink">|</span></h1>
    </div>
    <div class="visible-xs" id="badge-xs">
      <h4 class="cover-heading typingone">>> Hi, my name is John Zeller</h4>
      <h4 class="cover-heading typingtwo">>> I am a Software Developer <span class="blink">|</span></h4>
    </div>
    <!--<div class="typingthree">>> to continue press <a onclick="yes();" href="#">y</a> or 
        <a onclick="no();" href="#">n</a><br></div>-->

{% endblock %}

{% block about %}
  {% include "about.html" %}
{% endblock %}

{% block experience %}
  {% include "experience.html" %}
{% endblock %}

{% block contact %}
  {% include "contact.html" %}
{% endblock %}