{% extends "layout.html" %}
{% block body %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-md-2 col-lg-2 col-md-offset-2"><img src="static/images/JohnZeller2.jpg" alt="John Zeller" class="img-thumbnail"></div>
        <h2 class="text-center col-xs-12 col-sm-5 col-md-5 col-lg-5 col-md-offset-5">Hello! My name is John Zeller</h2>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2"><p>You know, the more I write software, the more I realize what drives me and sustains my interest in this profession; and it's the people. Writing software someone is going to directly benefit from is as exciting as any job that I can think of. My goals are to work with a company that isn't just holding the line, but is pushing the edge of what is out there. I seek to make an impact on my community and my planet, in a positive and uplifting way through the power of software.</p></div>
      </div>
      <div class="row">
        <div class="col-md-1 alert alert-success">1</div>
        <div class="col-md-1 alert alert-success">2</div>
        <div class="col-md-1 alert alert-success">3</div>
        <div class="col-md-1 alert alert-success">4</div>
        <div class="col-md-1 alert alert-success">5</div>
        <div class="col-md-1 alert alert-success">6</div>
        <div class="col-md-1 alert alert-success">7</div>
        <div class="col-md-1 alert alert-success">8</div>
        <div class="col-md-1 alert alert-success">9</div>
        <div class="col-md-1 alert alert-success">10</div>
        <div class="col-md-1 alert alert-success">11</div>
        <div class="col-md-1 alert alert-success">12</div>
      </div>
      <a href="http://www.facebook.com/JohnLZeller"><img style="height: 100px;" src="static/images/icons/facebook.png"></a>
      <a href="http://www.twitter.com/JohnLukeZeller"><img style="height: 100px;" src="static/images/icons/twitter.png"></a>
      <a href="http://www.gplus.com/#"><img style="height: 100px;" src="static/images/icons/googleplus.png"></a>
      <a href="http://www.johnzeller.com/blog/feed"><img style="height: 100px;" src="static/images/icons/rss.png"></a>
    </div>
{% endblock %}