<!-- Based on Cover Template for Bootstrap by @mdo -->

<!-- ===============================================================
 * Filename: layout.html
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================-->

<!DOCTYPE HTML>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is John Zeller's website!">
<meta name="author" content="John Zeller">
 
<title>John Zeller | Software Developer</title>

<!-- Bootstrap core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/blink.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/cover.css') }}">

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="inner">
              <div class="navbar-inverse">
                <!-- Mobile nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <!-- Desktop Title -->
              <h3 class="navbar-title-desktop col-md-6 masthead-brand visible-lg visible-md"><a href="/">JOHN ZELLER: {Software Developer}</a></h3>
              <!-- Tablet Title -->
              <h4 class="navbar-title-tablet col-sm-6 masthead-brand visible-sm"><a href="/">JOHN ZELLER: {Software Developer}</a></h4>
              <!-- Mobile Title -->
              <h4 class="navbar-title-mobile masthead-brand visible-xs"><a class="col-xs-9" href="/">JOHN ZELLER: <br class="navbar-toggle">{Software Developer}</a></h4>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-menu navbar-right navbar-buttons-full-width" id="bs-example-navbar-collapse-1">
                <!-- Desktop Menu -->
                <ul class="col-sm-8 nav masthead-nav visible-lg visible-md navbar-right navbar-buttons-desktop">
                  <li><a href="#about">About</a></li>
                  <li><a href="#experience">Experience</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="blog">Blog</a></li>
                </ul>
                <!-- Tablet Menu -->
                <ul class="col-sm-8 nav masthead-nav visible-sm navbar-right navbar-buttons-tablet">
                  <li><a href="#about">About</a></li>
                  <li><a href="#experience">Experience</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="blog">Blog</a></li>
                </ul>
                <!-- Mobile Menu -->
                <ul class="nav navbar-nav visible-xs">
                  <li><a href="#about">About</a></li>
                  <li><a href="#experience">Experience</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="blog">Blog</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="inner cover">{% block index %}{% endblock %}</div>

        </div>

      </div>

    </div>

    <!-- About Section -->
    <div class="about-page site-wrapper"><br><a name="about"></a><div class="site-wrapper-inner"><div class="cover-container">{% block about %}{% endblock %}</div></div></div>

    <!-- Experience Section -->
    <div class="experience-page site-wrapper"><br><a name="experience"></a><div class="site-wrapper-inner"><div class="cover-container">{% block experience %}{% endblock %}</div></div></div>

    <!-- Projects Section -->
    <div class="projects-page site-wrapper"><br><a name="projects"></a><div class="site-wrapper-inner"><div class="cover-container">{% block projects %}{% endblock %}</div></div></div>

    <!-- Contact Section -->
    <div class="contact-page site-wrapper"><br><a name="contact"></a><div class="site-wrapper-inner"><div class="cover-container">{% block contact %}{% endblock %}</div></div></div>

    <nav class="navbar-fixed-bottom container-fluid">
      <div class="blink-delay row btn-lg">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="static/js/docs.min.js"></script>
    <script type="text/javascript">{{ auth_script|safe }}</script>
    <script type="text/javascript">
      $(function(){
        $('.masthead-nav a').click(function () {
          $('.masthead-nav a').css('background-color', 'transparent');
          $('.masthead-nav a').css('border-bottom-color', 'rgba(255,255,255,.0)');
         $(this).css('background-color', 'transparent');
         $(this).css('border-bottom-color', 'rgba(255,255,255,.25)');
         });
       });
    </script>
  </body>