</div>
<div class="container" style="padding: 65px 20px 180px 20px; text-shadow: none !important;">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Software</h2>
            {% for post in software_projects %}
	            <div class="user-info-block">
	                <div class="user-heading">
	                    <h1 style="color: #000000;"><a style="color: #000000;" href="http://blog.johnzeller.com/{{ post['post_name'] }}" target="_blank">{{ post['title'] }}</a></h1>
	                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> {{ post['date_str'] }}</span></small>
	                    <span class="help-block"><p class="work-text">{{ post['content_short']|safe }}<br><a style="color: #000000;" href="http://blog.johnzeller.com/{{ post['post_name'] }}" target="_blank">Read More</a></p></span>
	                </div>
	            </div>
	        {% endfor %}
        </div>
        <div style="margin-top: 750px;" class="visible-sm visible-xs"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Non-Software</h2>
            {% for post in nonsoftware_projects %}
	            <div class="user-info-block">
	                <div class="user-heading">
	                    <h1 style="color: #000000;"><a style="color: #000000;" href="http://blog.johnzeller.com/{{ post['post_name'] }}" target="_blank">{{ post['title'] }}</a></h1>
	                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> {{ post['date_str'] }}</span></small>
	                    <span class="help-block"><p class="work-text">{{ post['content_short']|safe }}<br><a style="color: #000000;" href="http://blog.johnzeller.com/{{ post['post_name'] }}" target="_blank">Read More</a></p></span>
	                </div>
	            </div>
	        {% endfor %}
        </div>
    </div>
</div>