</div>
<div class="container" style="padding: 65px 20px 180px 20px; text-shadow: none !important;">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Software</h2>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">Job Scheduler API for Firefox OS</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> September 2014</span></small>
                    <span class="help-block"><p class="work-text">For my senior project I am aiming to build a job scheduler API for Firefox OS. Firefox OS phones have launched in countries around the world, many of them with a poorer quality of infrastructure than what you would find in a more developed country. For that reason, network reliability can become a huge problem, saping battery life, costing more, and overwhelming what infrastructure does exist. This project is to create a task scheduler API that allows the phone to delay a task until it is on a good network. Doing this improves efficiency and user experience by decreasing unnecessary timeouts. <a href="#">Read More</a></p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">Tupperware: Mozilla apps in Docker!</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> June 18, 2014</span></small>
                    <span class="help-block"><p class="work-text">Announcing Tupperware, a setup for Mozilla apps in Docker! Tupperware is portable, reusable, and containerized. But unlike typical tupperware, please do not put it in the Microwave. <a href="#">Read More</a></p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">iCongress</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> January 2014</span></small>
                    <span class="help-block"><p class="work-text">iCongress is a project I have had in mind for quite some time. In it's current form, iCongress is a Flask web app that aims to allow users to see how their voting would match up with real members of Congress. <a href="#">Read More</a></p></span>
                </div>
            </div>
        </div>
        <div style="margin-top: 750px;" class="visible-sm visible-xs"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 user-details" id="accordian">
            <h2 class="experience-heading">Non-Software</h2>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">Batch #2 – Hard Apple Cider</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> September 30, 2013</span></small>
                    <span class="help-block"><p class="work-text">We had so much fun making the Amber Ale that Jessica had the idea of making our very own hard cider! When you look around online for tutorials on how to make hard apple cider, you’ll find a variety of opinions and advice, and one of the most common pieces of advice for beginners is to just go out and buy 5 gallons of apple cider from the store and ferment it. We decided that we’d rather go out and make our own from scratch, so with little warning we went out looking for apple trees. After about a half hour of looking, we happened upon an apple tree that had fallen over in a recent storm. Luck us! We hoped out and gathered as many as we could, about 50 lbs. <a href="#">Read More</a></p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">Batch #1 – Amber Ale</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> September 24, 2013</span></small>
                    <span class="help-block"><p class="work-text">We started with a really simple Amber Ale since we also happened to have most of the ingredients to start with from our friend. Generally speaking, amber ales are a good beginner beer to brew. So using the 10 gallon kettle we borrowed from another friend, we began brewing this batch on Jessica’s birthday, September 24th! It took us about 5 hours, and we did it all in our kitchen on our stove… not a great idea. We threw it into primary fermentation in our big 8 gallon fermenter at about midnight that night.he Microwave. <a href="#">Read More</a></p></span>
                </div>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h1 style="color: #000000;">We built a greenhouse!</h1>
                    <small><span class="help-block help-block-adjust"><span class="glyphicon glyphicon-time"></span> March 3, 2013</span></small>
                    <span class="help-block"><p class="work-text">We made an awesome greenhouse out of recycled materials! We pad maybe $45 total for any used and new material. <a href="#">Read More</a></p></span>
                </div>
            </div>
        </div>
    </div>
</div>