<!-- Based on Cover Template for Bootstrap by @mdo -->

<!-- ===============================================================
 * Filename: layout.html
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Referenced:
 *              http://stackoverflow.com/questions/18455070/how-to-achieve-active-state-in-a-navigation-for-a-one-page-website
 * =============================================================-->

<!DOCTYPE HTML>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is John Zeller's website!">
<meta name="author" content="John Zeller">
 
<title>John Zeller | Software Developer</title>

<!-- Bootstrap core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/badge.css') }}">

<body>
    <div class="container">
        <div class="row user-menu-container square">
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWERS</h3>
                    <h4>2,784</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWING</h3>
                    <h4>456</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>APPRECIATIONS</h3>
                    <h4>4,901</h4>
                </div>
            </div>
        </div>
    </div>
</body>

